:root {
  --color-primary: #f9faf8;
  --color-dark: #1f2937;
  --color-secondary: #e5e7eb;
  --color-accent: #3882f6;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 68.5%;
}

/* Typography */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.4rem;
}
/* button */
.btn {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  outline: 0;
  border: 0;
}
.btn--primary {
  background: var(--color-accent);
  color: #fff;
  transition: background 0.15s;
}
div {
  background: var(--color-accent);
  height: 50vw;
  padding: 5rem;
}
.btn--outline {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.15s;
}
.btn--primary:hover {
  background: #1d6ef1;
}
.btn--outline:hover {
  background: #fff;
  color: var(--color-accent);
}
