<div class="block-image-container">
  <div class="block-image">
    <img
      class="image"
      src="https://source.unsplash.com/collection/190727/400x400?1"
      alt=""
    />
    <p class="block-image__para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
  <div class="block-image">
    <img
      class="image"
      src="https://source.unsplash.com/collection/190727/400x400?2"
      alt=""
    />
    <p class="block-image__para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
  <div class="block-image">
    <img
      class="image"
      src="https://source.unsplash.com/collection/190727/400x400?3"
      alt=""
    />
    <p class="block-image__para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
  <div class="block-image">
    <img
      class="image"
      src="https://source.unsplash.com/collection/190727/400x400?4"
      alt=""
    />
    <p class="block-image__para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
</div>
